@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-width: 100vw;
}

/* HEADER  */

.hero {
background:rgba(61, 224, 126, 1) ;
height: 608px;
font-family: "roboto";
font-size: 40px;
display: flex;
flex-direction: column;
}

.hero__nav-icon {
    margin: 1rem;
}

.hero__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.hero__witch {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
}

/* MAIN */

main {
    background-color: black;
}

.container__wrapper {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2,1fr);
justify-items: center;
font-family: "fira sans";
color: white;
margin-bottom: 5rem;
}

.container {
    width: 14rem;
}

.container__poster-images { 
    height: 15rem;
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.poster-witch {
    grid-column: 2;
    grid-row: 1;
}

.poster-troll {
    grid-column: 3;
    grid-row: 1;
}
.poster-scarecrow {
    grid-column: 4;
    grid-row: 1;
}
.poster-samara {
    grid-column: 2;
    grid-row: 2;
}
.poster-jason {
    grid-column: 3;
    grid-row: 2;
}
.poster-ghost {
    grid-column: 4;
    grid-row: 2;
}

.container p {
    font-size: 10px;
    margin-bottom: 10px;
}
.container h2 {
    margin-bottom: 15px;
}

.container__button {
    background: #E83F57;
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
}


/* LARGE POSTERS  */


.container__large {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: black;
    font-family: "fira sans";  
    padding-bottom: 1rem;
}

.poster-dracula {
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    background-color: white;
}
.poster-frankenstein {
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    background-color: white;
}

.container__large img {
    height: 23rem;
}

.container__large h2 {
    font-size: 25px;
    margin-bottom: 10px;
    padding: 1rem;
}

.container__large p {
    font-size: 10px;
    margin-bottom: 4rem;
    width: 20rem;
    padding-left: 1rem;
}

.container__button-big {
    background: #E83F57;
    color: white;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    margin: 1rem;
}


/* FOOTER */


footer {
    font-family: "fira sans";
    height: 15rem;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 3rem;
}

footer h2 {
    margin-bottom: 1rem;
}

nav ul li {
    list-style-type: none;
}
